
/* 
    Created on : 08/08/2015, 15:40:49
    Author     : EBER
*/

body{
    font-size: 12px;
    font-family: sans-serif; 
    margin: 0px;
    font-weight: normal;
}

header{
color: #283841;
text-decoration: none;
border-bottom: 0px #0B4881 solid;
padding: 0 0 0px;    
background-color: #0B4881;
color: #fff;
margin-left: 155px;

box-shadow: 0px 12px 12px #ccc;
    
}

header > div{	
    margin-left: -160px;
}

#conteudo{
    padding: 0px 8px;
}

h1{
    font-size: 24px;
    font-weight: 500;
    padding: 0; 
}


footer{
    padding: 0px 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    
}

#login-dialog{
    width: 290px;
    margin: auto;
    margin-top: 150px;    
}

.grid-login{
    background-color: #f2f2f2;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 8px;
    padding: 10px;
}

.rotulo{
    width: 150px;
    font-weight: bold;
    outline: none;    
}

.ajax-status{
    position: fixed;
    top: 45px;
    right: 50px;
    width: 35px;
    height: 35px;  
}


/* SOMBRA ABAIXO DO ITEM DE MENU*/
.ui-shadow {    
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    box-shadow: 0px 5px 10px rgba(186, 49, 49, 0.8);

}

/* CLASSE PARA AJUSTAR O ESPAÃ‡AMENTO DOS CHECKBOX DA PESQUISA DE  PEDIDOS*/
.ui-selectmanycheckbox td label{
    padding-right: 20px; 
     font-family: sans-serif !important; 
}

/* input text do produto em cadastro de pedidos aba itens*/
.produto-tabela input{
    width: 700px;
     font-family: sans-serif !important; 
}

/* CUSTOMIZA TABLE VIEW - INício*/
.ui-tabs .ui-tabs-panel{
    padding: 0.5em 0.2em !important;  
     font-family: sans-serif !important;   
}

.ui-tabs{
    padding: 0px !important;
     font-family: sans-serif !important; 
}

.ui-tabs .ui-tabs-nav{
    padding: 0px !important;
}

.ui-tabs .ui-tabs-top > .ui-tabs-nav{
    padding: 0px !important;
}
/* CUSTOMIZA TABLE VIEW - FIM*/

/* Menu sistema inicio */
.menu-sistema {
    border: 150px !important;
    padding: 0px !important;
    background: none !important;
}

.menu-sistema .ui-menu-parent > a .ui-menuitem-text, .menu-sistema > .ui-menu-list > .ui-menuitem > a > .ui-menuitem-text {
    color: #FFFFFF !important;
    font-family: sans-serif !important; 
}

.menu-sistema .ui-icon-triangle-1-s {
    background: url(#{resource['images:seta-para-baixo.png']}) no-repeat;
}
/* Menu sistema fim */

.ui-state-disabled{
	opacity: .80 !important;
	font-family: sans-serif !important; 	
}
.